# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec

# Hades files
# Helps while developing from within the Hades directory
Content/
x64/
x64Vk/
x86/

# Hephaistos runtime datastores
hephaistos/backups/
hephaistos/hashes/
